<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGDAT7rJVTEj7RG_8jNUy7OjM3Yk6I3z4</string>
	<key>GCM_SENDER_ID</key>
	<string>978493053380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lily.SocketChatting</string>
	<key>PROJECT_ID</key>
	<string>socket-chatting</string>
	<key>STORAGE_BUCKET</key>
	<string>socket-chatting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978493053380:ios:bf7d6dac8db34a531dec91</string>
</dict>
</plist>